
/*@media (min-width: 320px) {

	.slide h1 {
		color: $light;
		font-size: 3em;
	}

	.masked {
		display: none;
	}*/

	/*header.hero {
		background-color: #000;
		padding: 10%;
	}

	section {
		margin: 0 10% 0% 5%;
		max-width: 70%;
	}

	.photoInset {
		border: 2px solid purple;
		width: 65%;
		float: right;
		margin-right: -10%;

		img {
			padding: $padding;

			p.coffee {
				color: pink;
			}
		}
	}

	p.chapter {
		border-left: 3px solid $color;
		margin-bottom: 3%;
		padding: 0;
		padding-left: 1.5%;
		text-transform: uppercase;
		font-family: $font2;
		font-weight: 700;
	}

	.bkgCover {
		margin: 5% 0;
		padding: 20% 0;
		min-width: 100%;
	}
*/


/**/
























@media (min-width: 768px) {
	.navbar-header {
		float: left;
	}
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: -15px;
	}
	.navbar-toggle {
		display: none;
	}
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav > li {
		float: left;
	}
	.navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-nav.navbar-right:last-child {
		margin-right: -15px;
	}
	.navbar-left {
		float: left !important;
	}
	.navbar-right {
		float: right !important;
	}
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
	.navbar-collapse {
		width: auto;
		border-top: 0;
		box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: block;
		overflow: visible;
		padding-bottom: 0;
		height: auto;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
}