#introtext { 
    position: relative; 
    min-height: 850px;
    background-color: black;

    & > .slide { 
    position: absolute; 
    }
} 
.slide {
    display: block;
    padding: 5%;
    clear: both;
    background-color: black;

    p {
        font-family: $font;
        line-height: 1.15;
        font-size: 3.25em;
        color: #fff;
        /* animation */
        text-align: justify;
        -webkit-text-align-last: center;
        -moz-text-align-last: center;
        -ms-text-align-last: center;
        text-align-last: center;
    }

    h1 {
        font-size: 6em;
        color: #fff;
    }

    p.scrollText {
        color: $light;
        opacity: 1;
        text-align: left;
    }
}

.masked {
    background: url(https://lh3.googleusercontent.com/-o52iYS0gvSs/AAAAAAAAAAI/AAAAAAABJDk/3SQ3cA9RCCw/photo.jpg) repeat;
    -webkit-background-clip: text;
    -webkit-animation-name: masked-animation;
    -webkit-animation-duration: 50s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: right bottom;
    }
}