$light: #fff;
$color: pink;
$dark: #333;
$font: "Vollkorn", Georgia, serif;
$color: #27ae60;
$dark: #333;
$offwhite: #ecf0f1;
$font: "Vollkorn", Georgia, serif;
$font2: "Exo", Georgia, Times, "Times New Roman", serif;
