/*colors*/
$light: #fff;
$color: #27ae60;
$dark: #333;
$offwhite: #ecf0f1;
$padding: 3.5%;
$lineheight: 1.5;

/*type*/
$font: "Vollkorn", Georgia, serif;
$font2: "Exo", Georgia, Times, "Times New Roman", serif;
