* {
  box-sizing: border-box;
}

/*type*/
h4 {
  font-size: 30px;
  color: #333333;
  font-family: "Vollkorn", Georgia, serif;
}

p {
  font-family: "Vollkorn", Georgia, serif;
}

.qWrapper {
  width: 90%;
  margin: 0 auto;
  /*background-color: #eee;*/
}

.qSidebar {
  position: fixed;
  width: 25%;
  float: left;
  background-color: #27ae60;
  display: block;
  padding: 3%;
  border-bottom: 3px solid #ecf0f1;
}
.qSidebar ul {
  padding: 0;
  margin: 0;
}
.qSidebar li {
  font-family: "Vollkorn", Georgia, serif;
  color: #ecf0f1;
  font-size: 1em;
  padding-bottom: 5%;
}
.qSidebar a {
  text-decoration: none;
  list-style-type: none;
}

.qAnswer {
  width: 70%;
  float: right;
  background-color: #ecf0f1;
  display: inline-block;
  padding: 3%;
}
