* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 auto;
}

.move {
	max-height: 50px;
	background-color: pink;

	.previous p {
		color: white;
	}

}	
	

.qWrapper {
	width: 45%;
	/*background: url("img/bkgCard.jpg");*/
	/*border: 3px solid red;*/
	float: right;
	overflow: hidden;
	margin: 3%;
}

.questions {
	padding: 5%;
	background-size: cover;
	opacity: 0.5;	
	background: #1bc2a1; 
	/*background-image: url("http://i.imgur.com/vyiyIjd.jpg");*/

	h4 {
		color: #fff;
		line-height: 1.15;
		font-size: 2em;
		font-family: "Exo", Helvetica, sans-serif;
		padding: 0% 10% 10% 10%;
		text-align: center;
	}

	p {
		font-size: .8;
		text-align: center;
		padding: 5%;
	}
}

p.chapter {
	text-transform: uppercase;
}

.answers {
	background-image: url("http://i.imgur.com/8RqN2M0.png");
	background-repeat: repeat;
	padding: 10% 0;

	p {
		color: #fff;
		padding: 3% 15%;
	}
}