/*sass start*/
/* avail font weights: 400/700 + italics */
/*type*/
body {
  text-rendering: optimizeLegibility;
}

h1, h2 {
  font-family: "Vollkorn", "Georgia", "Times New Roman", sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 4em;
  /*font-weight: 700;*/
}

h2 {
  font-size: 2em;
}

h3, p {
  font-family: "Vollkorn", "Georgia", "Times New Roman", sans-serif;
  color: #333333;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.65em;
}
